html {
    text-align: center;
    font-family: Tahoma;
}
button {
    display: inline-block;
}
.button-group button {
    background-color: #9d9d9d;
    border: 1px solid #000000;
    padding: 10px 10px;
    cursor: pointer;
    vertical-align: top;
}
.button-group {
    cursor: pointer;
    display: inline-block;
}